@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

* { font-family: 'Montserrat', sans-serif; }

body {
  display: grid;
  padding-top: 50px;
  justify-items: center;
  grid-template-rows: auto;
  background-color: #EEEEEE;
}

body,
html {
  margin: 0;
  height: 100%;
}

#app {
  width: 50%;
}

#app-logo {
  text-align: center;
}

nav {
  padding: 20px 20px 20px 0;
}

nav a {
  padding: 10px;
  background: white;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 0.8em;
  transition: all 0.2s;
  text-decoration: none;
  color: var(--main-vue-color);
}

nav a:hover {
  box-shadow: var(--shadow-md);
  background-color: var(--secondary-vue-color);
}

.selected-nav {
  box-shadow: var(--shadow-md);
  background-color: var(--secondary-vue-color);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #app {
    width: 90%;
  }
}
